.next/cache
node_modules
pnpm-debug.log*
npm-debug.log*
.pnpm-store
.git
.gitignore
.DS_Store
**/*.log
**/*.swp
**/*.tmp
Dockerfile
.env
.env.*
!.env.example
!.env.docker
README.md
**/__pycache__/
**/.pytest_cache/
**/.vscode/
**/.idea/